
# Ignore datasets
data

# Ignore copies of previous analyses
previous_analysis

# Ignore results
quinn.90.*
prev_run
diff*.txt
positive.*
negative.*
sim_*
*taxa
tree.*
eval.all.*
subset_quinn.*
sim.*
tls*
archive*
*.pdf
quinn.*
quinn_*.*
summaries
tls1
tls2
runs
*.tsv
overlap_summary.tsv

# Ignore built containers
*.sif

# Ignore other
__pycache__/
*.pyc


